@font-face {
	font-family: "kanit";
	src: url(Kanit-Regular.ttf);
	font-display: swap;
}



body::after {
	content: "";
	position: fixed;
	z-index: -1;
	left: 0;
	background: rgb(255,255,255);
background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(255,248,181,1) 11%, rgba(127,118,60,1) 26%, rgba(88,87,39,1) 35%, rgba(0,0,0,1) 100%);
	top: 0;
	right: 0;
	bottom: 0;
	background-size: cover;
	background-repeat: no-repeat;
}